/* ===================== IMPORTS ===================== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* ===================== FONTS LOCAL ===================== */
@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-Ultra.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}

/* Condensed Versions */
@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('/fonts/AmsiProCond-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Amsi Pro';
  src: url('/fonts/AmsiPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-oswald: 'Inter', sans-serif;
  --font-tiktok: "TikTok Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-amsi: 'Amsi Pro', sans-serif;
  --font-hindmadurai: 'Hind Madurai', sans-serif;
  --color-2: #f6f3ea;
  --color-3: #0c893e;
}

:root{
   --color-2: #f6f3ea;
}

/* ===================== RESET ===================== */
html {
  box-sizing: border-box;
  font-family: theme(font-amsi);
}

input:focus {
  outline: none;
}
